<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.co004C7Em/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <title>TiSepX_mail_kr</title>

</head>
<body>
    <div class="wrap" style="max-width:460px;margin:40px;font-family:'Noto Sans KR','Roboto' !important;-webkit-text-size-adjust: none;-moz-text-size-adjust: none; -ms-text-size-adjust: none; -o-text-size-adjust: none;">
        <div class="content" style="background-color:#fff;margin:0 8px;">
            <div class="top" style="border-top:5px solid #000000;"> 
                <div class="top_gap" style="padding:28px;">                   
                    <img src="https://medicalip.com/images/logos/tisep_logo.png" alt="logo">
                </div>
            </div>

            <div class="center" style="padding:28px;">
                <h2 style="font-size:20px;margin:0;color:#30363A;">임시 비밀번호 안내</h2>
                <p style="width:100%;padding:28px 0;margin:0;color:#757575;">아래의 임시 비밀번호를 확인해 주세요.<br>로그인 후 반드시 비밀번호를 변경해 주시기 바랍니다.</p>
                <div class="mail" style="width:100%;font-size:20px;font-weight:900;margin:0 0 28px 0;">
                    <p style="margin:0;word-break: break-all;" th:text="${newPass}" ></p>
                </div>
                <a style="padding:12px 24px;background-color:#000;border:0;border-radius:24px;color:#fff;font-size:16px;font-family:'Noto Sans KR';cursor: pointer;text-decoration: none;" th:href="@{${host}}">로그인 하러 가기</a>
            </div>

            <div class="bottom" style="padding:28px;font-size:12px;color:#757575;background-color:#F5F5F5;">
                <p style="margin:0;">회원가입 관련 문의사항이 있으신가요?<br><a style="color:#2156e7;font-weight:600;text-decoration:none;">contact@medicalip.com</a>으로 연락 주시면 신속하게 답변드리겠습니다.</p>
            </div>  
            
        </div>
    </div>

</body>
</html>